<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}


    <!--  main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.jpg" alt="phantom" class="img-fluid" title="phantom buddy">
                        </figure>
                        
                        <p>Welcome to Phantom's World</p>
                        <h1>{{errorMsg}}</h1>           <!-- IMP : Basically hum direct bhi likh sakte the but 
                                                            humne yaha props pass kia hai app.js ke through -->
                        <a href="/"><button>GO Back!</button></a>
                    </div>
                    <!--right side div-->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>
</html>